<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>243905432579-h2tgq2440vl1ng8suggg82fvp3rqfiqb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.243905432579-h2tgq2440vl1ng8suggg82fvp3rqfiqb</string>
	<key>API_KEY</key>
	<string>AIzaSyBbOQjdQeXT-ByfjUYvafQZiNOUQTsHcvM</string>
	<key>GCM_SENDER_ID</key>
	<string>243905432579</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.afterschoolCenter</string>
	<key>PROJECT_ID</key>
	<string>fc-puchong</string>
	<key>STORAGE_BUCKET</key>
	<string>fc-puchong.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:243905432579:ios:8697f06886450e36c31236</string>
</dict>
</plist>